body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

#intro {
  position: fixed;
  inset: 0;
  background: radial-gradient(#000, #050505);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 9999;
}

#startBtn {
  margin-top: 30px;
  padding: 12px 30px;
  font-size: 18px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

#startBtn:hover {
  background: white;
  color: black;
}

